@model IEnumerable<LiveMeds.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<head>

    <style>
        #rig {
            max-width: 900px;
            margin: 0 auto; /*center aligned*/
            padding: 0;
            font-size: 0; /* Remember to change it back to normal font size if have captions */
            list-style: none;
            /* background-color: #00ffff;*/
        }

            #rig li {
                display: inline-block;
                *display: inline; /*for IE6 - IE7*/
                width: 25%;
                vertical-align: middle;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

        /* The wrapper for each item */
        .rig-cell {
            margin: 12px;
            box-shadow: 0 0 6px rgba(0,0,0,0.3);
            display: block;
            position: relative;
            overflow: hidden;
        }

        /* If have the image layer */
        .rig-img {
            display: block;
            width: 100%;
            height: 150px;
            border: none;
            transform: scale(1);
            transition: all 1s;
        }

        #rig li:hover .rig-img {
            transform: scale(1.05);
        }

        /* If have the overlay layer */
        .rig-overlay {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            background: #000 url(img/link.png) no-repeat center 20%;
            background-size: 50px 50px;
            opacity: 0;
            filter: alpha(opacity=0); /*For IE6 - IE8*/
            transition: all 0.6s;
        }

        #rig li:hover .rig-overlay {
            opacity: 0.8;
        }

        /* If have captions */
        .rig-text {
            display: block;
            padding: 0 30px;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            width: 100%;
            text-align: center;
            text-transform: capitalize;
            font-size: 18px;
            font-weight: bold;
            font-family: 'Oswald', sans-serif;
            font-weight: normal !important;
            top: 40%;
            color: white;
            opacity: 0;
            filter: alpha(opacity=0); /*For older IE*/
            transform: translateY(-20px);
            transition: all .3s;
        }

        #rig li:hover .rig-text {
            transform: translateY(0px);
            opacity: 0.9;
        }
    </style>
</head>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<ul id="rig">
@foreach (var item in Model)
 {
    <li>
      
        <a class="rig-cell" href='@string.Format("/Product/Details/{0}/", @Html.DisplayFor(modelItem => item.productId))'>
            <img class="rig-img" src="@Url.Content(item.ImagePath)" alt="Image" />
    <span class="rig-overlay"></span>
    <span class="rig-text">@Html.DisplayFor(modelItem => item.Name)</span>

</a>
    </li>
 }
</ul>
                          <table class="table">
                              <tr>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Name)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Description)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Category)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.BuyingPrice)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.SellingPrice)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Quantity)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Sold)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.ImagePath)
                                  </th>
                                  <th></th>
                              </tr>

                              @foreach (var item in Model)
                              {
                                  <tr>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Name)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Description)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Category)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.BuyingPrice)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.SellingPrice)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Quantity)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Sold)
                                      </td>
                                      <td>
                                       
                                              <img class="" height="80px" width="100px" src="@Url.Content(item.ImagePath)" alt="Image" />
                          
                                    </td>
                                      <td>
                                          @Html.ActionLink("Edit", "Edit", new { id = item.productId }) |
                                          @Html.ActionLink("Details", "Details", new { id = item.productId }) |
                                          @Html.ActionLink("Delete", "Delete", new { id = item.productId })
                                      </td>
                                  </tr>
                              }

                          </table>
